body{
    overflow-x:hidden ;
    background-color: rgba(0,0,0,0.2);
}

.formContainer{
    /* border: 2px solid black ; */
    padding:2%;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 3vh;

  .formRegister{
    /* border: 1px solid black; */
    width: 32%;
    padding: 1%;
    padding-bottom: 6vh;
    padding-top: 3%;
    background-color: white;
    height: 100%;
   border-radius: 15px;

   .Content{
    height: 2vh !important;
   }
  }
 
}


input{
    border-radius: 20px !important;
    border: 1px solid black !important;
}

.text-container{
    margin-bottom: 5vh;
}

.content-item{
    margin-bottom: 3vh;
}